body{
  background-color:#ececec;
}
h1{
    text-align: center;
    text-shadow: 2px 2px rgb(139, 191, 229);
    margin-top: 1em;
    &:hover{
        color:rgb(139, 191, 229);
        text-shadow: 2px 2px black;
    }
}
.col{
img{
    margin-top: 6em !important;
    &:hover{
        transform: scale(1.2);
        border: 2px solid black;
    }
}
}
footer{
    background-color: black;
    color:white;
    text-align: center;
  
  padding: .6em;
  
}