body{
background-color: #eeeeee;
background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 0C6.716 0 0 6.716 0 15c8.284 0 15-6.716 15-15zM0 15c0 8.284 6.716 15 15 15 0-8.284-6.716-15-15-15zm30 0c0-8.284-6.716-15-15-15 0 8.284 6.716 15 15 15zm0 0c0 8.284-6.716 15-15 15 0-8.284 6.716-15 15-15z' fill='%23a8a8a8' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}
#logo{

margin-left:3em;
}
#onesie{
    margin-left: 3em !important;
}
h1{
    text-align: center;
    text-shadow: 2px 2px rgb(139, 191, 229);
    margin-top: 1em;
    &:hover{
        color:rgb(139, 191, 229);
        text-shadow: 2px 2px black;
    }
}
.col{
    margin-top: 3em;
    p{
        margin-top: 4em;
        margin-right: 4em;
        background-color: white;
        border: 2px solid black;
        width: fit-content;
        padding: 1em;
    }
}
footer{
    background-color: black;
    color:white;
    text-align: center;
  
  padding: .4em;
  
}
.new{
    background-color: white;
    margin-top: 2em;
    padding-bottom: 2em;
    img{
        &:hover{
            transform: scale(1.2);
            border: 2px solid black;
        }
    }
}